

<div >
<div >
  <h1> DAYDAY APP</h1>
  <h2> Keep track of you life ! </h2>
    <button type="button" name="button">  <a href="auth/facebook/">Sign Up with Facebook</a> </button>
</div>

<div>

</div>


</div>
